<div class="fixedNavmenu">
  <div class="head__block">
    <div class="logo__wrapper">
      <a href="/" titile="main">
        <img class="logo__element" src="@img/logo/logo_icon.svg" alt="name">
        <img class="logo__text" src="@img/logo/logo_text.svg" alt="name">
      </a>
    </div>
    <button class="menuFunction"><i class="ico-burger-nav"></i></button>
    <button class="menuMinimal hidden"><i class="ico-burger-mb"></i></button>
  </div>

  <div class="sidebar__element">
    <div class="headline">Menu</div>
    <nav class="sidebarNav">
      <ul>
        <li class="sidenav__element active">
          <span><i class="ico-category"></i>KYC Service</span>
        </li>
        <li class="sidenav__element collapsed">
          <button>
            <div class="name">
              <i class="ico-users"></i>
              Accounts
            </div>
            <i class="ico-arrow"></i>
          </button>
        </li>
        <li class="sidenav__element">
          <a href="/proxy.html" title="name">
            <i class="ico-shield"></i>Proxy
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="sidebar__element">
    <div class="headline">General</div>
    <nav class="sidebarNav">
      <ul>
        <li class="sidenav__element">
          <a href="#" title="name">
            <i class="ico-refresh"></i>History
          </a>
        </li>
        <li class="sidenav__element">
          <a href="#" title="name">
            <i class="ico-details"></i>Help
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>