<div class="element__line deactivated" data-category="All @@category">
  <div class="content__data">
    <span class="name">@@name</span>
    <span class="value green">10 000 / <span class="er-red">Expired</span></span>
    <span class="value green">12.05.2024 / <span class="er-red">Expired</span></span>
    <div class="actions">
      <button type="button"><i class="ico-cart"></i></button>
    </div>
  </div>
  <div class="mainData">
    <span class="service">Proxy [Residential]</span>
    <span class="shop">NVS Shop</span>
  </div>
</div>