<div class="element__line activated" data-category="All @@category">
  <div class="content__data">
    <span class="name">@@name</span>
    <span class="value green">10 000 / 18 000</span>
    <span class="value green">12.05.2024 / 30 days</span>
    <div class="actions">
      <button type="button"><i class="ico-cart"></i></button>
      <a href="#" title="name"><i class="ico-eye"></i></a>
    </div>
  </div>
  <div class="mainData">
    <span class="service">Proxy [Residential]</span>
    <span class="shop">@@shop</span>
  </div>
</div>