            <div class="breadcrumbs">
               <div class="breadcrumbs-wrapper container">
                  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                     <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                     <a itemprop="item" href="#">
                        <span class="name" itemprop="name">Home</span>
                        <i class="ico-arrow"></i>
                     </a>
                     <meta itemprop="position" content="1" />
                     </li>
                     <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span class="active">@@name</span>
                        <meta itemprop="position" content="2" />
                     </li>
                  </ol>
               </div>
            </div>