$fontFamily: "Inter", sans-serif;

$body-bg: #030507;
$main-Green: #13F195;
$main-Green-Hover: #159962;
$gray500: #7A8895;
$text-black: #030507;
$text-secondory: #9BA4AB;
$black-elementBG: #0F1721;
$gray-stoke: #142133;

$bg-element: #141F2C;

$yellow: #F1D713;
$red-danger: #FF3F3C;


$gray-bg: #FBFBFB;